.swagger-ui .topbar {
    background: #0c74b5;
    height: 80px;
}

.swagger-ui .topbar .link {
    line-height: 65px;
    height: 65px;
    max-width: 100%;
}

.swagger-ui .topbar .link img {
    display: none;
}

.swagger-ui .topbar .download-url-wrapper {
    display: none;
}